
@{
    ViewBag.Title = "Index";
}

<h2>The Great Student DB</h2>
<div>
    <a href="@Url.Action("CreateStudent","Student")" class="btn btn-default">Create a student</a>
    <a href="@Url.Action("GetAllStudents","Student")" class="btn btn-default">Show all students</a>
</div>

